.main-page {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: var(--background);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
    //border-bottom: 1px solid hsla(0, 0%, 50%, 0.15);
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
