@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #9684CF;
  --color2: #7B6DA6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #201514;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: var(--font-rubik), system-ui, -apple-system, BlinkMacSystemFont,*/
  /*"Segoe UI", sans-serif;*/
}
