.sidebar-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  .sidebar-top {
    display: flex;
    flex-direction: column;
    .logo-container {
      display: flex;
      align-items: center;
      gap: 1rex;
      .image-container {
        position: relative;
        width: 15%;
        display: flex;
        aspect-ratio: 1;
        padding: 1rex;
        .logo {
          object-fit: fill;
        }
      }
      .logo-title {
        font-size: 1.8rem;
      }
    }
    .items {
      margin: 2rem 0;
      .item {
        display: flex;
        margin: auto;
        padding: 1rem 1rem;
        cursor: pointer;
        .item-label {
          margin-left: 1rem;
          letter-spacing: 2px;
          font-weight: bold;
        }
      }
    }
  }
}

.selected-background {
  background: linear-gradient(45deg, #6a00ff, #ff4ecd);
}
.hovering-background {
  &:hover {
    background-color: hsla(220, 15%, 20%, 0.6);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
}